.App {
  text-align: center;
}

::-webkit-scrollbar { 
  /* width: 0px;  */
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(54, 54, 54);
}

.header {
  background-color: #0b83f4;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 20px; 
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  z-index: 1;
}

.body {
  padding: 20px;
  position: relative;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
}

.button {
  margin-right: 20px;
}

.App-link {
  color: #0b83f4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button.is-ghost
{
    background:0 0;
    border-color:transparent;
    color:#FFFFFF;
    text-decoration:none;
}
    
.button.is-ghost.is-hovered
{
    border-color:transparent;
}

.button.is-ghost:hover
{
    background:hsl(0, 0%, 100%, 0.3);
    border-color:transparent;
    color:#FFFFFF;
    text-decoration:none;
}