.App {
  text-align: center;
}

:root {
  --main-color: #007bff;
}

.btn-primary{
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--main-color);
  border-color: var(--main-color);
  filter: brightness(80%);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--main-color);
  border-color: var(--main-color);
  filter: brightness(80%);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
  filter: brightness(80%);
}

.button.is-ghost:hover {
  background: hsl(0, 0%, 100%, 0.3);
  filter: brightness(80%);
}

.fab-btn {
  background-color: var(--main-color);
}

.fab-btn:hover {
  background-color: var(--main-color);
  filter: brightness(80%);
}

.navbar {
  background-color: var(--main-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.bg-primary {
  background-color: var(--main-color);
}

.History {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.scrollable-content{
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding-top: 60px;
}

/* WIP: This scrollbar should be under the nav bar.*/

::-webkit-scrollbar {
  display: none; /* Delete this if we want to show the scrollbar */
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(54, 54, 54);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 20px; 
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  z-index: 1;
}

.body {
  padding: 20px;
  position: relative;
}

.card {
  /* background-color: #fff; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
}

.button {
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button.is-ghost
{
    background:0 0;
    border-color:transparent;
    color:#FFFFFF;
    text-decoration:none;
}
    
.button.is-ghost.is-hovered
{
    border-color:transparent;
}

.button.is-ghost:hover
{
    background:hsl(0, 0%, 100%, 0.3);
    border-color:transparent;
    color:#FFFFFF;
    text-decoration:none;
}

.fab-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
